body{
  width:800px;
  margin: 0 auto;
}

#videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    width: 100%;
    padding: 10px;
  }
  
  video {
    width: 100%;
    border:2px solid greenyellow;
    background-color: rgb(63, 62, 62);

  }

  textarea{
    height: 50px;
    width: 100%;
  }
  
  .step{
    background-color: beige;
    padding: 10px;
    margin: 10px;
  }

  .step p{
    margin: 0;
  }


@media screen and (max-width:800px) {
    body{
      width: 100%;
    }
}